* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: purple;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    overflow: hidden;
    position: relative;
}


.controls {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: absolute;
    bottom: 0px;
    transform: translateY(60%);
    transition-duration: 200ms;
}

.player:hover .controls {
  transform: translateY(0);
}

.progress-bar {
    height: 15px;
    flex: 1 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
}

.progress-bar:hover {
  cursor: e-resize;
}

.progress {
  flex-basis: 0%;
  background: #ffc600;
}


.controls button {
    height: 30px;
    width: 50px;
    color: white;
    background: none;
    border: none;
}

.controls input {
    flex: 1;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
}

.current-time {
  flex: 1 100%;
  display: flex;
  color: white;
  padding: 0px 10px 5px 0px;
  justify-content: end;
}


/* Style for sliders */

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255,255,255,0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
  }
  